@charset "UTF-8";
body{
    background-image: url(/Img/Background.png);
}

.headpage {
  display: flex;
  justify-content: start;
  gap: 20px; /* espaço entre os links */
  background-color: rgb(255, 255, 255); /* cor de fundo do cabeçalho */
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  height: 4vh;
  width: 70vh;
}
.headpage a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  width: 15vh;
  height: 4vh;
  border: 1px solid black;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
.headpage a:hover {
  text-decoration: underline;
}


.tea{
    background-color: rgb(255, 255, 255);
    width: 70vh;
    height: 5vh;
    text-align: center;
    border-radius: 5vh;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2vh;
}


.txt{
    background-color: white;
    width: 80vh;
    height: 18vh;
    display: block;
    position: relative;
    border-radius: 2vh;
    margin: 0 auto;
    font-size: 20px;
    padding: 2vh;
    text-align: justify;
}

.txt2{
    background-color: rgb(255, 255, 255);
    width: 80vh;
    height: 23vh;
    display: block;
    position: relative;
    border-radius: 2vh;
    margin: 0 auto;
    font-size: 20px;
    padding: 2vh;
    text-align: justify;
}

.txt3{
    background-color: rgb(255, 255, 255);
    width: 80vh;
    height: 23vh;
    display: block;
    position: relative;
    border-radius: 2vh;
    margin: 0 auto;
    font-size: 20px;
    padding: 2vh;
    text-align: justify;
}

.carac{
    background-color: white;
    width: 40vh;
    height: 5vh;
    text-align: center;
    border-radius: 5vh;
    position: relative;
    margin: 0 auto;
}

.atvhiperfoco{
    background-color: white;
    width: 88vh;
    height: 5vh;
    text-align: center;
    border-radius: 5vh;
    position: relative;
    margin: 0 auto;
}


.txtcarac{
    background-color: white;
    width: 80vh;
    height: 60vh;
    position: relative;
    border-radius: 2vh;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    padding: 2vh;
    margin-top: 2vh;
}

.txtnivel{
    background-color: white;
    width: 80vh;
    height: 56vh;
    position: relative;
    border-radius: 2vh;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    padding: 2vh;
    margin-top: 2vh;
}

.list{
    font-weight: bold;
}

.credits1{
    background-color: rgb(255, 255, 255);
    width: 40vh;
    height: 5vh;
    text-align: center;
    border-radius: 5vh;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.credits2{
    background-color: white;
    width: 80vh;
    height: 43vh;
    position: relative;
    border-radius: 2vh;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    padding: 2vh;
    margin-top: 2vh;

    
}

.img{
    width: 35vh;
    position: absolute;
    top: 12%;
    left: 50%;
}